<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>oura</string>
		<string>fitbit</string>
		<string>twitter</string>
		<string>instagram</string>
		<string>gcm-ciq</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) uses Media Library during certain tasks.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) uses Bluetooth to connect with wearables.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>$(PRODUCT_NAME) uses Bluetooth to connect with wearables.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) uses Calendar during certain tasks.</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) captures photos and video during certain tasks.</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) uses Contacts during certain tasks.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your health data for further analysis.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>$(PRODUCT_NAME) will update your health data based on your task results</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your location to verify information such as how far you travelled and the speed at which you travelled, as described in the informed consent.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your location to verify information such as how far you travelled and the speed at which you travelled, as described in the informed consent.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) records audio during certain tasks.</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) will use your motion data for your active tasks.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>$(PRODUCT_NAME) uses Speech Recognition during certain tasks.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
